@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #FF5656;
    --color-secondary:#ff7b00;
}
.bg-hover:hover{
    background-color: #ec3a3a;
}
.bg-third{
    background: #da4848;
}
.bg-forth{
    background: #af4040;
}
.bg-forth:hover{
    background: #FF5656;
}

